<p><b>Sobject:</b> <%= @sf_sobject_field.sobject %></p>

<p><b>Sobject name:</b> <%= @sf_sobject_field.sobject_name %></p>

<p><b>Auto number:</b> <%= @sf_sobject_field.auto_number %></p>

<p><b>Byte length:</b> <%= @sf_sobject_field.byte_length %></p>

<p><b>Calculated:</b> <%= @sf_sobject_field.calculated %></p>

<p><b>Calculated formula:</b> <%= @sf_sobject_field.calculated_formula %></p>

<p><b>Cascade delete:</b> <%= @sf_sobject_field.cascade_delete %></p>

<p><b>Case sensitive:</b> <%= @sf_sobject_field.case_sensitive %></p>

<p><b>Controller name:</b> <%= @sf_sobject_field.controller_name %></p>

<p><b>Createable:</b> <%= @sf_sobject_field.createable %></p>

<p><b>Custom:</b> <%= @sf_sobject_field.custom %></p>

<p><b>Default value:</b> <%= @sf_sobject_field.default_value %></p>

<p><b>Default value formula:</b> <%= @sf_sobject_field.default_value_formula %></p>

<p><b>Defaulted on create:</b> <%= @sf_sobject_field.defaulted_on_create %></p>

<p><b>Dependent picklist:</b> <%= @sf_sobject_field.dependent_picklist %></p>

<p><b>Deprecated and hidden:</b> <%= @sf_sobject_field.deprecated_and_hidden %></p>

<p><b>Digits:</b> <%= @sf_sobject_field.digits %></p>

<p><b>Display location in decimal:</b> <%= @sf_sobject_field.display_location_in_decimal %></p>

<p><b>External:</b> <%= @sf_sobject_field.external_id %></p>

<p><b>Filterable:</b> <%= @sf_sobject_field.filterable %></p>

<p><b>Groupable:</b> <%= @sf_sobject_field.groupable %></p>

<p><b>Html formatted:</b> <%= @sf_sobject_field.html_formatted %></p>

<p><b>Id lookup:</b> <%= @sf_sobject_field.id_lookup %></p>

<p><b>Inline help text:</b> <%= @sf_sobject_field.inline_help_text %></p>

<p><b>Label:</b> <%= @sf_sobject_field.label %></p>

<p><b>Length:</b> <%= @sf_sobject_field.length %></p>

<p><b>Name:</b> <%= @sf_sobject_field.name %></p>

<p><b>Name field:</b> <%= @sf_sobject_field.name_field %></p>

<p><b>Name pointing:</b> <%= @sf_sobject_field.name_pointing %></p>

<p><b>Nillable:</b> <%= @sf_sobject_field.nillable %></p>

<p><b>Permissionable:</b> <%= @sf_sobject_field.permissionable %></p>

<p><b>Precision:</b> <%= @sf_sobject_field.precision %></p>

<p><b>Relationship name:</b> <%= @sf_sobject_field.relationship_name %></p>

<p><b>Relationship order:</b> <%= @sf_sobject_field.relationship_order %></p>

<p><b>Restricted delete:</b> <%= @sf_sobject_field.restricted_delete %></p>

<p><b>Restricted picklist:</b> <%= @sf_sobject_field.restricted_picklist %></p>

<p><b>Scale:</b> <%= @sf_sobject_field.scale %></p>

<p><b>Soap type:</b> <%= @sf_sobject_field.soap_type %></p>

<p><b>Sortable:</b> <%= @sf_sobject_field.sortable %></p>

<p><b>Type:</b> <%= @sf_sobject_field.type %></p>

<p><b>Unique:</b> <%= @sf_sobject_field.unique %></p>

<p><b>Updateable:</b> <%= @sf_sobject_field.updateable %></p>

<p><b>Write requires master read:</b> <%= @sf_sobject_field.write_requires_master_read %></p>


<%= link_to 'Bearbeiten', edit_sf_sobject_field_path(@sf_sobject_field) %> |
<%= link_to 'Zurück', sf_sobject_fields_path %>