<p><b>Createable:</b> <%= @sf_sobject.createable %></p>

<p><b>Custom:</b> <%= @sf_sobject.custom %></p>

<p><b>Custom setting:</b> <%= @sf_sobject.custom_setting %></p>

<p><b>Deletable:</b> <%= @sf_sobject.deletable %></p>

<p><b>Deprecated and hidden:</b> <%= @sf_sobject.deprecated_and_hidden %></p>

<p><b>Feed enabled:</b> <%= @sf_sobject.feed_enabled %></p>

<p><b>Key prefix:</b> <%= @sf_sobject.key_prefix %></p>

<p><b>Label:</b> <%= @sf_sobject.label %></p>

<p><b>Label plural:</b> <%= @sf_sobject.label_plural %></p>

<p><b>Layoutable:</b> <%= @sf_sobject.layoutable %></p>

<p><b>Listviewable:</b> <%= @sf_sobject.listviewable %></p>

<p><b>Lookup layoutable:</b> <%= @sf_sobject.lookup_layoutable %></p>

<p><b>Mergeable:</b> <%= @sf_sobject.mergeable %></p>

<p><b>Name:</b> <%= @sf_sobject.name %></p>

<p><b>Queryable:</b> <%= @sf_sobject.queryable %></p>

<p><b>Replicateable:</b> <%= @sf_sobject.replicateable %></p>

<p><b>Retrieveable:</b> <%= @sf_sobject.retrieveable %></p>

<p><b>Search layoutable:</b> <%= @sf_sobject.search_layoutable %></p>

<p><b>Searchable:</b> <%= @sf_sobject.searchable %></p>

<p><b>Triggerable:</b> <%= @sf_sobject.triggerable %></p>

<p><b>Undeletable:</b> <%= @sf_sobject.undeletable %></p>

<p><b>Updateable:</b> <%= @sf_sobject.updateable %></p>


<%= link_to 'Edit', edit_sobject_path(@sf_sobject) %> |
<%= link_to 'Back', sobjects_path %>